In [2]:
import pandas as pd
benign_df = pd.read_csv("benign_domain_list.csv", header=None)
malicious_df = pd.read_csv("Malicious_URLs.csv")
mixed_df = pd.read_csv("mixed_domain_list.csv", header=None)
tranco_df = pd.read_csv("tranco_full_list_for_ranking.csv", header=None)

In [3]:
benign_df

                   0
0         google.com
1       facebook.com
2       a-msedge.net
3        youtube.com
4      microsoft.com
...              ...
4958    bethesda.net
4959  shopifysvc.com
4960      instana.io
4961       oanda.com
4962  skyscanner.com

[4963 rows x 1 columns]

In [ ]:
malicious_df

In [ ]:
mixed_df

In [ ]:
tranco_df

In [26]:
### Defining methods block
from urllib.parse import urlparse

def calculate_percentage_digits(domain):
    digits_count = sum(c.isdigit() for c in domain)
    total_chars = len(domain)
    percentage_digits = digits_count / total_chars * 100
    return percentage_digits

def get_fqdn(url):
    parsed_url = urlparse(url)
    return parsed_url.netloc

def count_unique_chars(domain):
    unique_chars = set(domain)
    return len(unique_chars) - 1     ### -1 because it counts the '.' in the FQDN

def count_hyphens(domain):
    hyphens_count = sum(c == '-' for c in domain)
    return hyphens_count

def count_dots(domain):
    dot_count = sum(c == '.' for c in domain)
    return dot_count

In [27]:
benign_df['Domain Length'] = benign_df[0].str.len()
benign_df['Digit Percentage'] = benign_df[0].apply(calculate_percentage_digits)
benign_df['Unique Character Count'] = benign_df[0].apply(count_unique_chars)
benign_df['Hypen Count'] = benign_df[0].apply(count_hyphens)
benign_df['Dot Count'] = benign_df[0].apply(count_dots)
benign_df

,0,Domain Length,Digit Percentage,Unique Character Count,Hypen Count,Dot Count
0,google.com,10,0.0,6,0,1
1,facebook.com,12,0.0,8,0,1
2,a-msedge.net,12,0.0,9,1,1
3,youtube.com,11,0.0,8,0,1
4,microsoft.com,13,0.0,8,0,1
...,...,...,...,...,...,...
4958,bethesda.net,12,0.0,8,0,1
4959,shopifysvc.com,14,0.0,10,0,1
4960,instana.io,10,0.0,6,0,1
4961,oanda.com,9,0.0,6,0,1
4962,skyscanner.com,14,0.0,10,0,1

In [28]:
malicious_df['Domain'] = malicious_df['url'].apply(get_fqdn)
malicious_df['Domain Length'] = malicious_df['Domain'].str.len()
malicious_df['Digit Percentage'] = malicious_df['Domain'].apply(calculate_percentage_digits)
malicious_df['Digit Count'] = malicious_df['Domain'].apply(count_unique_chars)
malicious_df['Hyphen Count'] = malicious_df['Domain'].apply(count_hyphens)
malicious_df['Dot Count'] = malicious_df['Domain'].apply(count_dots)
malicious_df

,url,Domain,Domain Length,Digit Percentage,Digit Count,Hyphen Count,Dot Count
0,https://ervashipping.com/,ervashipping.com,16,0.000000,13,0,1
1,http://www.gabung-grupmabarcimbrut.duckdns.org/,www.gabung-grupmabarcimbrut.duckdns.org,39,0.000000,17,1,3
2,http://republik-jancuk.000webhostapp.com/,republik-jancuk.000webhostapp.com,33,9.090909,20,1,2
3,https://www.chet-notnkt8-grup.duckdns.org/,www.chet-notnkt8-grup.duckdns.org,33,3.030303,16,2,3
4,http://veromcertiom.ddns.net/connexion/certico...,veromcertiom.ddns.net,21,0.000000,11,0,2
...,...,...,...,...,...,...,...
10624,http://sites.google.com/site/habbotuttogratis,sites.google.com,16,0.000000,9,0,2
10625,http://www.habbocreditosparati.blogspot.com/,www.habbocreditosparati.blogspot.com,36,0.000000,16,0,3
10626,http://creditiperhabbogratissicuro100.blogspot...,creditiperhabbogratissicuro100.blogspot.com,43,6.976744,18,0,2
10627,http://mundovirtualhabbo.blogspot.com/2009_01_...,mundovirtualhabbo.blogspot.com,30,0.000000,17,0,2
10628,http://aijcs.blogspot.com/2005/03/colourful-li...,aijcs.blogspot.com,18,0.000000,12,0,2

In [29]:

mixed_df['Domain Length'] = mixed_df[0].str.len()
mixed_df['Digit Percentage'] = mixed_df[0].apply(calculate_percentage_digits)
mixed_df['Digit Count'] = mixed_df[0].apply(count_unique_chars)
mixed_df['Hypen Count'] = mixed_df[0].apply(count_hyphens)
mixed_df['Dot Count'] = mixed_df[0].apply(count_dots)
mixed_df

,0,Domain Length,Digit Percentage,Digit Count,Hypen Count,Dot Count
0,goodrx.com,10,0.000000,7,0,1
1,weather.com.cn,14,0.000000,10,0,2
2,draftkings.com,14,0.000000,13,0,1
3,suntimes.com,12,0.000000,9,0,1
4,moe.gov.cn,10,0.000000,7,0,2
...,...,...,...,...,...,...
178,services.runescape.com-ul.cc,28,0.000000,14,1,3
179,nsu-amazon.1inc.top,19,5.263158,13,1,2
180,80fxv9.cn,9,33.333333,8,0,1
181,nsu-amazon.3inc.top,19,5.263158,13,1,2
182,hmcb-crad.com-men-indxe.iilgbxka.cn,35,0.000000,16,3,3

In [30]:
tranco_df['Domain Length'] = tranco_df[1].str.len()
tranco_df['Digit Percentage'] = tranco_df[1].apply(calculate_percentage_digits)
tranco_df['Digit Count'] = tranco_df[1].apply(count_unique_chars)
tranco_df['Hypen Count'] = tranco_df[1].apply(count_hyphens)
tranco_df['Dot Count'] = tranco_df[1].apply(count_dots)
tranco_df

,0,1,Domain Length,Digit Percentage,Digit Count,Hypen Count,Dot Count
0,1,google.com,10,0.0,6,0,1
1,2,facebook.com,12,0.0,8,0,1
2,3,a-msedge.net,12,0.0,9,1,1
3,4,youtube.com,11,0.0,8,0,1
4,5,microsoft.com,13,0.0,8,0,1
...,...,...,...,...,...,...,...
3648682,3648683,jeventanddesign.com,19,0.0,13,0,1
3648683,3648684,medi-verbund.de,15,0.0,10,1,1
3648684,3648685,stjudemedical.net,17,0.0,12,0,1
3648685,3648686,dsa-vorschau.de,15,0.0,11,1,1
3648686,3648687,smcdomain.com,13,0.0,8,0,1