In [1]:
import pandas as pd
benign_df = pd.read_csv("benign_domain_list.csv", header=None)
malicious_df = pd.read_csv("Malicious_URLs.csv")
mixed_df = pd.read_csv("mixed_domain_list.csv", header=None)
tranco_df = pd.read_csv("tranco_full_list_for_ranking.csv", header=None)

In [ ]:
benign_df

In [ ]:
malicious_df

In [ ]:
mixed_df

In [ ]:
tranco_df

In [2]:
for row in benign_df[0]:
    benign_df['Domain Length'] = benign_df[0].str.len()
benign_df

                   0  Domain Length
0         google.com             10
1       facebook.com             12
2       a-msedge.net             12
3        youtube.com             11
4      microsoft.com             13
...              ...            ...
4958    bethesda.net             12
4959  shopifysvc.com             14
4960      instana.io             10
4961       oanda.com              9
4962  skyscanner.com             14

[4963 rows x 2 columns]

In [3]:
from urllib.parse import urlparse

def get_fqdn(url):
    parsed_url = urlparse(url)
    return parsed_url.netloc

malicious_df['Domain'] = malicious_df['url'].apply(get_fqdn)

for row in malicious_df['Domain']:
    malicious_df['Domain Length'] = malicious_df['Domain'].str.len()
malicious_df

,url,Domain,Domain Length
0,https://ervashipping.com/,ervashipping.com,16
1,http://www.gabung-grupmabarcimbrut.duckdns.org/,www.gabung-grupmabarcimbrut.duckdns.org,39
2,http://republik-jancuk.000webhostapp.com/,republik-jancuk.000webhostapp.com,33
3,https://www.chet-notnkt8-grup.duckdns.org/,www.chet-notnkt8-grup.duckdns.org,33
4,http://veromcertiom.ddns.net/connexion/certico...,veromcertiom.ddns.net,21
...,...,...,...
10624,http://sites.google.com/site/habbotuttogratis,sites.google.com,16
10625,http://www.habbocreditosparati.blogspot.com/,www.habbocreditosparati.blogspot.com,36
10626,http://creditiperhabbogratissicuro100.blogspot...,creditiperhabbogratissicuro100.blogspot.com,43
10627,http://mundovirtualhabbo.blogspot.com/2009_01_...,mundovirtualhabbo.blogspot.com,30
10628,http://aijcs.blogspot.com/2005/03/colourful-li...,aijcs.blogspot.com,18

In [4]:
for row in mixed_df[0]:
    mixed_df['Domain Length'] = mixed_df[0].str.len()
mixed_df

                                       0  Domain Length
0                             goodrx.com             10
1                         weather.com.cn             14
2                         draftkings.com             14
3                           suntimes.com             12
4                             moe.gov.cn             10
..                                   ...            ...
178         services.runescape.com-ul.cc             28
179                  nsu-amazon.1inc.top             19
180                            80fxv9.cn              9
181                  nsu-amazon.3inc.top             19
182  hmcb-crad.com-men-indxe.iilgbxka.cn             35

[183 rows x 2 columns]

In [ ]:
for row in tranco_df[1]:
    tranco_df['Domain Length'] = tranco_df[1].str.len()
tranco_df